/*body*/
body{
	background: url(fon1.jpg);
    background-size: 100%;
}

/*header*/
.header {
	font-size: 32px;
	font-weight: bold;
	text-decoration:underline;
	font-family: "Monotype Corsiva";
	text-align:  center;
}

/*container*/
.container{
	display: flex;
	justify-content: space-between;
}

.zad-text {
	border: 3px solid black;
	font-size: 32px;
	background: #f2e8c9;
}